:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-dark1: #333;
  --color-grey-dark2: #777;
  --color-grey-dark3: #999;
  --color-grey-light: #faf9f9;
  --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
  --shadow-darker: 0 3rem 8rem rgba(0,0,0,0.3);
  --color-border: rgba(0, 0, 0, 0.95); }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /*62.5% == 10px*/
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /*remove the white space in the mobile version*/ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: black;
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.border {
  padding: 3rem;
  box-sizing: border-box;
  background-color: var(--color-border); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-grey-dark1));
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }
  .header-logo-box {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem; }
    .header-logo-box-logo {
      height: 10rem; }
  .header-title-name {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center; }
    .header-title-name-primary {
      color: black;
      text-transform: uppercase;
      font-size: 4rem;
      font-weight: 400;
      letter-spacing: 2.5rem;
      white-space: nowrap;
      overflow-x: auto;
      animation-name: moveInLeft;
      backface-visibility: hidden;
      animation-duration: 3s;
      margin-bottom: 0.5rem; }
      @media (max-width: 511px) {
        .header-title-name-primary {
          white-space: nowrap;
          overflow-x: auto;
          font-size: 2rem;
          font-weight: inherit;
          letter-spacing: 0.4rem; } }
    .header-title-name-btn:link, .header-title-name-btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      display: inline-block;
      border-radius: 10rem; }
    .header-title-name-btn:hover {
      transform: translateY(-0.3rem); }
    .header-title-name-btn:active {
      transform: translateY(-0.1rem); }
    .header-title-name-btn-white {
      background-color: var(--color-border);
      color: #FFF;
      padding: 1.5rem 4rem;
      display: inline-block;
      box-shadow: var(--shadow-dark);
      animation: pulse-animation 2s infinite; }

.section-about {
  height: 95vh;
  background-image: linear-gradient(to top right, var(--color-primary-light), var(--color-grey-dark1));
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  font-weight: inherit;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  justify-content: center; }
  .section-about__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    text-align: center;
    font-weight: 700; }
  .section-about__bottom {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
    box-shadow: var(--shadow-darker); }
  .section-about__info {
    display: flex;
    text-align: center;
    background-image: linear-gradient(to right top, var(--color-primary-light), var(--color-grey-dark1));
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .section-about__info__model-section {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .section-about__info__model-section-hidden {
        display: none; }
      .section-about__info__model-section-indiv {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        text-decoration: none; }
        @media (max-width: 925px) {
          .section-about__info__model-section-indiv {
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            align-items: center;
            margin: 2rem; } }
        .section-about__info__model-section-indiv-technical {
          background-color: var(--color-border);
          color: #FFF;
          font-size: inherit;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 16%;
          height: 15vh;
          border-radius: 8rem;
          border: none;
          box-shadow: var(--shadow-darker);
          text-decoration: none;
          animation: pulse-animation 2.5s infinite; }
          @media (max-width: 1200px) { /*changed the mobile aspect of website*/
            .section-about__info__model-section-indiv-technical {
              width: 12rem;
              height: 6rem;
              font-size: 1rem; } }
        .section-about__info__model-section-indiv-softskills {
          background-color: var(--color-border);
          color: #FFF;
          font-weight: 400;
          font-size: inherit;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 16%;
          height: 15vh;
          border-radius: 8rem;
          border: none;
          box-shadow: var(--shadow-darker);
          text-decoration: none;
          animation: pulse-animation 2.5s infinite; }
          @media (max-width: 1200px) {
            .section-about__info__model-section-indiv-softskills {
              width: 12rem;
              height: 6rem;
              font-size: 1rem; } }
    .section-about__info-te {
      display: none; }
      .section-about__info-te__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
        padding: 1rem; }
        @media (max-width: 650px) {
          .section-about__info-te__text {
            margin: 1rem;
            padding: 1rem;
            font-size: 1rem; } }
    .section-about__info-so {
      display: none; }
      .section-about__info-so__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem;
        padding: 1rem; }
        @media (max-width: 650px) {
          .section-about__info-so__text {
            margin: 1rem;
            padding: 1rem;
            font-size: 1rem; } }
    .section-about__info-ab {
      display: none;
      text-transform: none;
      margin: 1.3rem; }
      @media (max-width: 650px) {
        .section-about__info-ab {
          font-size: 1rem; } }
    .section-about__info-co {
      display: none;
      width: 100%;
      height: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      @media (max-width: 600px) {
        .section-about__info-co {
          flex-direction: column; } }
      .section-about__info-co__item {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        border-radius: 10rem;
        animation: pulse-animation 2.5s infinite; }
      .section-about__info-co__link:link, .section-about__info-co__link:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 3rem;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-border);
        width: 20rem;
        height: 7rem; }
        @media (max-width: 850px) {
          .section-about__info-co__link:link, .section-about__info-co__link:visited {
            width: 6rem;
            height: 3rem; } }
      .section-about__info-co__icon {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 2rem; }
        @media (max-width: 850px) {
          .section-about__info-co__icon {
            width: 1rem;
            height: 1rem; } }
      .section-about__info-co__tex {
        font-size: 3rem; }
        @media (max-width: 850px) {
          .section-about__info-co__tex {
            font-size: 1rem; } }
  .section-about__tabs {
    display: flex;
    background-color: var(--color-border) 90%;
    height: 100%; }

.side-bar {
  display: flex; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0.3rem;
    background-color: var(--color-primary-light);
    transform: scaleY(0);
    transition: transform 0.2s, width .4s .2s, background-color .1s; }
  .side-nav__item:hover::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    background-color: var(--color-primary); }
  .side-nav__link {
    color: var(--color-border); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; }
  .side-nav__link::after {
    background-color: var(--color-primary); }
  .side-nav__icon {
    fill: currentColor;
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem; }
  .side-nav__let {
    color: var(--color-border);
    font-weight: 400s; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    opacity: 0.8;
    transform: translateX(1.3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.3); }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0); } }
