.main{
    width: 100vw;
    height: 8vh;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #030301;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80%*8vw;
    height: 80%;
    padding: 10px;
}
.list{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 3vh;
    color: #FFF;
    @media screen and (max-width: 1000px) {
        font-size: 1vh;
        width: 40%;
    }
}